@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Jura:wght@300..700&family=Lobster&family=PT+Mono&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

body{
    width: 1000px;
    margin: auto;
    font-family: "Jura", sans-serif;
    background-color: rgb(37, 38, 39);
}
ul {
    list-style-type: none;
    padding: 0px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 17px;
}
h1{
    text-align: center;
    font-size: 50px;
}
.button{
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid black;
    
}
.button:hover{
    background-color: rgb(77, 77, 77);
}
.button:active{
    background-color: rgb(85, 85, 85);
}
header{
    background-color: rgb(110, 110, 110);
    padding: 10px;
    
}
.conteiner{
    background-color: rgb(223, 223, 212);
    padding: 9px;
}
span{
    font-weight: bold;
}
p{
    font-size: 20px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 23px;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
section img{
    width: 270px;
    border-radius: 20px;
}
.conteinercard{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
.discripte{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.price{
    color: rgb(68, 223, 68);
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}
.card{
    background-color: rgb(73, 64, 64);
    padding: 15px;
    border-radius: 16px;
    color: rgb(245, 245, 245);
}
header img{
    width: 75px;
    height: 75px;
    
}
.head{
    display: flex;
    justify-content: center;
    gap: 14px;
    align-items: center;
}
.contentconteiner{
    border-radius: 20px;
}
footer h2{
    text-align: center;
}
footer{
    background-color: rgb(110, 110, 110);
    padding: 10px;
}